# Database
DATABASE_URL="postgresql://user:password@localhost:5432/teacherplatform?schema=public"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Auth (ileride kullanılacak)
# NEXTAUTH_SECRET=""
# NEXTAUTH_URL="http://localhost:3000"

# AI (ileride kullanılacak)
# OPENAI_API_KEY=""
